<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--原来是android:theme="@style/AppTheme.NoActionBar"-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="明德音乐盒"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".cloudvileage.cloudvillegActivity"></activity>
        <activity android:name=".Welcome.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Faxian.FaXianActivity"></activity>
        <activity android:name=".Wode.WoDeActivity"></activity>
        <activity android:name=".Bofang.BofangActivity">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->
<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
    </application>

</manifest>